:root {
    --menu: 10vh;
    --lado: 10vh;
    --bordeLEFT: calc((100vw) - var(--lado));
    --bordeTOP: calc((100vh) - var(--lado) - var(--menu));
}

body {
    margin: 0;
    padding: 0;
    background-color: blue;
}

.cont {
    position: absolute;
}

.animation {
    width: var(--lado);
    height: var(--lado);
    background: red;
    overflow: hidden;
    position: absolute;
    animation-name: vueltas;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes vueltas {
    0%   {left: 0; top: 0;}
    10%  {left: 0; top: calc(var(--bordeTOP));}
    40%  {left: calc(var(--bordeLEFT)); top: calc(var(--bordeTOP));}
    50%  {left: calc(var(--bordeLEFT)); top: 0;}
    100% {left: 0; top: 0;}
}


